*{
  box-sizing: border-box;
}
body {
  margin: 0;
    font-family: -apple-system, monospace, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  background: rgb(23, 23, 23);
  width: 99%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-areas: 'header nav nav nav'
                        'contenido contenido contenido contenido'     
                        'footer footer footer footer';
  grid-template-rows: 140px auto 60px;
}
/* HEADER */
.header{
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header h2 {

  color: rgb(42, 192, 172);
  font-family: monospace;
  white-space: nowrap;
  border-right: 3px solid;
  font-weight: lighter;
  font-size: 20px;
  width: 16ch;

  animation: typing 3s steps(16) infinite alternate, blink 5s step-start alternate;
  overflow:hidden;
}
@keyframes typing {
   from {width: 0;}
}
@keyframes blink {
   50% {border-color: transparent}
}
.header h1{
  font-size: 50px;
  color: white;
  transition: all 300ms;
  text-shadow: 4px 5px 15px rgb(244, 209, 80);
}

/* NAV */
.nav{
  grid-area: nav;
}
.nav ul{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  line-height: 125px;
 }
 .nav li {
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
 }
 .nav a {
  display: block;
  text-decoration: none;
  color: rgb(42, 192, 172);
  transition: all 400ms;
 }
 .nav .seleccionado,
 .nav a:hover{
  transform: scale(1.2, 1.2);
  color: rgb(106, 106, 253);
  text-shadow: 4px 5px 15px rgb(106, 106, 253);
  transition: all 300ms
 }
 .nav .seleccionado,
 .nav a:before{
  transform: scale(1.2, 1.2);
  color: rgb(244, 209, 80);
  text-shadow: 4px 5px 15px rgb(244, 209, 80);
 }

/* CONTENIDO */
.contenido{
  grid-area: contenido;
  width: 100%;
  height: 100%;
  border-top: 1px solid #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 5px 15px rgb(106, 106, 253);
}





.inicio{
  width: 100%;
  height: 100%;
  color: white;
  padding: 15px;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: animacionNav 3s ease;
}
.inicio h1{
  margin: 15px;
  padding: 15px;
  max-width: 85%;
}
.inicio a, .trabajos-section a{
  position: relative;
  text-decoration: none;
  color:  rgb(244, 209, 80);
  transition: all 300ms;
}
.inicio a:hover{
  color:   rgb(244, 209, 80);
  text-shadow: 4px 5px 15px  rgb(244, 209, 80);
  text-transform: uppercase;
  
}
.inicio h2{
 border-bottom: 3px solid  rgb(244, 209, 80);
 margin-top: 50px;
}

.inicio-Trabajos{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid red;

}

.tecnologias{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.tecnologias h2{
  margin: 15px;
  color: rgb(42, 192, 172);
}

.tecnologias img{
  margin: 15px;
  width: 100px;
  padding: 10px;
  height: 110px;
  border-radius: 10px;
  border: 1px solid transparent;
  border: 1px solid #f5f5f5;
  object-fit:fill;
  animation: animacion2 4400ms 1;
  transition: all 300ms;
}
.tecnologias img:hover{
  transform: scale(1.1, 1.1);
  box-shadow: 0px 6px 10px white;
}


.servicios{
  color: white;
  width: 100%;
  margin: 70px 0px 70px;
}

.servicios-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: animacionNav 3s ease;
}
.servicio{
  border: 3px solid #f5f5f5;
  width: 50%;
  margin: 15px;
  padding: 15px;
  transition: all 300ms;
}
.servicio:hover{
  border-radius: 15px;
  border: 3px solid rgb(244, 209, 80);
}

.servicio h2 {
  color: rgb(42, 192, 172);
  font-weight: bold;
  transition: all 300ms;
}

@keyframes animacion {
  0% {opacity: 0%;}
  25% {transform: translateY(-200px); opacity: 0%;}
  75% {transform: translateY(100px);}
  85% {transform: translateY(-50px);}
  90% {transform: translateY(10px);}
  95% {transform: translateY(-10px);}
  100% {opacity: 100%;}
}
@keyframes animacion2 {
  0% {opacity: 0%;}
  25% {transform: translate(-200px); opacity: 0%;}
  75% {transform: translateY(80px);}
  85% {transform: translate(-50px);}
  90% {transform: translateY(10px);}
  95% {transform: translate(-10px);}
  100% {opacity: 100%;}
}
@keyframes animacion3 {
  0% {opacity: 0%;}
  25% {transform: translateY(-200px); opacity: 0%;}
  75% {transform: translateY(150px);}
  85% {transform: translate(-50px);}
  90% {transform: translateY(10px);}
  95% {transform: translate(-10px);}
  100% {opacity: 100%;}
}
@keyframes animacionNav {
  0% {
    opacity: 0%; 
    filter: blur(20px);
  }
  10% {
    opacity: 1; 
    filter: brightness(2) blur(10px);
  }
}
.servicio-1{
  animation: animacion 2s 1;
}
.servicio-2{
  animation: animacion2 2s 1;
}
.servicio-3{
  animation: animacion3 2s 1;
}


.portafolio{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  animation: animacionNav 3s ease;
}
.portafolio h1{
  text-align: center;
  color: rgb(42, 192, 172);
  text-shadow: 0px 0px 15px rgb(106, 106, 253);
  font-size: 30px;
}
.trabajos-section a:hover{
  color:   rgb(244, 209, 80);
  text-shadow: 4px 5px 15px  rgb(244, 209, 80);
  text-transform: uppercase;
}

.trabajos-section{
  display: flex;
  flex-wrap: wrap;
  animation: animacion 2s 1;
}

.portafolio-trabajo{
  flex-basis: 40%;
  flex-grow: 1;
  margin: 30px;
  color: white;
  text-align: center;
}

.portafolio-trabajo img{
  width: 155%;
  border-radius: 6px;
  border: transparent;
  transition: all 500ms;
}
.portafolio-trabajo img:hover{
  width: 190%;
  margin-right: 30%;
}
.mask{
  width: 100%;
  height: 350px;
  overflow: hidden;
  box-shadow: 0px 6px 16px rgb(187, 185, 185);
  border-radius: 10px;
}


.contacto{
  color: rgb(42, 192, 172);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animacionNav 3s ease;
  margin-top: 70px;
  margin-bottom: 62px;

}
.contacto h2{
  text-align: center;
}
.contacto form{
  animation: animacion 2s 1;
  display: flex;
  flex-direction: column; 

}
.contacto form input[type='text'], input[type='email'], textarea{
  margin: 13px;
  padding: 8px;
  width: 100%;
  max-height: 2rem;
  min-height: 1.7rem;
  max-width: 90%;
  min-width: 500px;
  border-radius: 10px;
  color: rgb(106, 106, 253);
  font-weight: bold;
  animation: contacto 800ms infinite alternate-reverse;
}

.contacto input[type='submit']{
  margin-top: 20px;
  margin-left: 16px;
  max-width: 60px;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  align-self: flex-start;
  background: rgb(42, 192, 172);
  font-weight: bold;
  transition: all 300ms;
}

.contacto input[type='submit']:hover{
  background-color: rgb(244, 209, 80);
  box-shadow: 0px 0px 20px  rgb(244, 209, 80);
  transform: scale(1.1 , 1.1);
}

@keyframes contacto{
  0%{box-shadow: none;}
  100%{box-shadow: 0px 2px 10px #f5f5f5}
}


/* FOOTER */
.footer{
  grid-area: footer;
  color: white;
  background-color: rgb(23, 23, 23);
  border-top: 3px solid #f5f5f5;
  text-shadow: 0px 0px 10px rgb(42, 192, 172);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h4{
  font-weight: lighter;
}
.footer img {
  margin-left: 10px;
  border-radius: 10px;
  border: #f5f5f5 solid 1px;
  width: 30%;
}


.error404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(42, 192, 172);
  height: 65vh;
  animation: animacionNav 3s ease;
}
.error404 h1{
  animation: error404-color 1s infinite;
}
.error404 a{
  color:  rgb(42, 192, 172);
  text-decoration: none;
  font-size: 20px;
  animation: error404 700ms infinite;
}
.error404 a:hover{
  color: rgb(244, 209, 80);
  text-shadow: 4px 5px 15px rgb(244, 209, 80);
  text-transform: uppercase;
  text-decoration: none;
  animation: error404 200ms 1;
}
@keyframes error404 {
  0%{ opacity: 100%; transform: translateY(2px)}
  10%{ opacity: 100%; transform: translateY(-2px)}
  50%{opacity: 100%; transform: translateY(2px)}
  80%{opacity: 100%; transform: translateY(-2px)}
  10%{ opacity: 100%; transform: translateY(2px)}
 
}
@keyframes error404-color {
  0%{color :red; text-shadow: 4px 5px 15px red;}
  80%{color: rgb(106, 106, 253); text-shadow: 4px 5px 15px red;} 
  100%{color :red; text-shadow: 4px 5px 15px red;} 
}

/* QUERYS */
@media (max-width: 1100px) {
  .layout {
   
    grid-template-areas: 'header header header header'
                          'nav nav nav nav'
                          'contenido contenido contenido contenido'
                          'footer footer footer footer';
    grid-template-rows: 3% 5% auto 6%;
    width:fit-content;
    height: 100%;
  }

  /* CONTENIDO  */
  .contenido{
    width: 100%;
    height: 85%;
    border: none;
  }

  /* HEADER */
  .header{
    margin-top: 60px;
  }
  .header h2 {

  color: rgb(42, 192, 172);
  font-family: monospace;
  white-space: nowrap;
  border-right: 3px solid;
  font-weight: lighter;
  font-size: 20px;
  width: 16ch;

  animation: typing 3s steps(16) infinite alternate, blink 5s step-start alternate;
  overflow:hidden;
}

  /* NAV */

  .nav ul{
    width:78%;
    justify-content: center;

  }

  /* CONTACTO */
  .contacto form input[type='text'], input[type='email'], textarea{
    max-width: 70%;
    min-width: 90%;
  }
  .contacto{
    margin-bottom: 20px;
    margin-right: 20px;
  }
  


  /* PORTAFOLIO */
  
  .portafolio{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 0px 25px -60px;
    animation: animacionNav 3s ease;
  }
  .portafolio-trabajo img{
    width: 285%;
    border-radius: 6px;
    border: transparent;
    transition: all 500ms;
  }
  .portafolio-trabajo img:hover{
    width: 255%;
    margin-right: 30%;
  }

  /* FOOTER */
  .footer{
    border-top: 1px solid #f5f5f5;
    width: 100%;
    flex-direction: column;
  }
  .footer img {
    margin: 0px -70px 0px 65px;
    width: 50%;
  }


  /* INICIO */ 
  .inicio{
    height: fit-content;
    margin: 120px 0px -60px 0px;
  }
  .trabajo-inicio{
    display: flex;
    flex-wrap: nowrap;
  }
}
